#sign-up-parent {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#form-container {
    border: 1px solid red;
    position: absolute;
    width: 40vw;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.eyes:hover {
    cursor: pointer;
}

#header-container {
    border: 1px solid red
}

#profile-picture img {
    width: 150px;
    height: 150px;
    border: solid black;
    border-radius: 50%;
}