#sign-up-parent {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#form-container {
    border: solid lightgray;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    width: 40vw;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.eyes:hover {
    cursor: pointer;
}

#header-container {
    background: white;
    border-radius: 10px;
}

#profile-picture img {
    width: 150px;
    height: 150px;
    border: 3px solid #007bff;
    border-radius: 50%;
}

.handle {
    color: gray
}

.pokedex-item:hover {
    cursor: pointer;
}
.edit-button {
    transform: translateY(-120%)
}

.follow {
    display: flex
}

.number {
    font-weight: bold   ;
}

.signup-btn {
    transform: translateX(50%);
}